<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="org.java.entity.oa.Userinfo" alias="f"/>
		<typeAlias type="java.util.Map" alias="m"/>
		
		<typeAlias type="org.java.entity.oa.Manualsign" alias="man"/> <!-- 签到类别名 -->
		<typeAlias type="org.java.entity.oa.Branchinfo" alias="bra"/> <!-- 机构类别面 -->
		<typeAlias type="org.java.entity.oa.Departinfo" alias="dep"/> <!-- 部门类别名-->
		
	</typeAliases>
</configuration>
